<plugin>
	<extension
            point="com.katalon.platform.extensions">
        <point
                id="com.katalon.plugin.drivers_updater.DriverUpdaterEventListenerInitializer"
                extensionPointId="com.katalon.platform.api.extension.eventListener"
                implementationClass="com.katalon.plugin.drivers_updater.DriverUpdaterEventListenerInitializer">
        </point>
    </extension>
</plugin>
